doctype html
html
head
title knowledgebase

link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet" href="/css/style.css")

body
 nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Navbar
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='/')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/articles/add') Add Article
      li.nav-item
        a.nav-link(href='/test_if_else') Test If Else

    ul.navbar-nav.ml-auto  
      if user
        li.nav-item.dropdown
         a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')=user.name
         .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
             //a.dropdown-item(href='#') Action
             a.dropdown-item(href='/users/logout') Logout
   
      else
         li.nav-item
          a.nav-link(href='/users/register') Register
         li.nav-item.mr-auto
          a.nav-link(href='/users/login') Sign in
        
      
     
     
       
            
     

.container
 != messages('message', locals)
 if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
 block content
    br
    hr
    footer
    p Copyrigt &copy; 2019
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
script(src="/js/main.js")